# Stats API Token for authentication
STATS_API_TOKEN=your-secret-token-here

# Backend configuration
DATABASE_URL=sqlite:////app/data/etl_stats.db
CORS_ORIGINS=*

# RCON configuration (Sync from Live Server)
RCON_HOST=your-game-server-ip
RCON_PORT=27960
RCON_PASSWORD=your-rcon-password

# Ingestion URL for migration scripts
API_URL=https://et-stats.local.maryan.io/api/submit-stats

# Frontend Protection
VITE_BALANCER_PASSWORD=your-secret-password-here
